* {
    overscroll-behavior: none;
}

body {
    background-color: #242124;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; 
}


/* Navigation bar properties */
.my-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 15%;
    height: 100vh;
    background-color: #181818;
    left: 0;
    font-family: Verdana, Tahoma, sans-serif;
}

#chess-logo {
    width: 70%;
    height: 15%;
    margin-top: 20px;
}

.option-list {
    color: white;
    list-style-type: none;
    width:100%;
    padding-left: 0;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    cursor: pointer;
}

#p2 {
    margin-top: 100px;
}

.options:hover {
    background-color: #0d0d0d;
}

/*Properties for actual board game */
#board-sec, #game-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555555;
    height: 90%;
    aspect-ratio: 1/1;
    flex-direction: column;
}

.game-body {
    position: relative;
    left: 272px;
    top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80vw;
    height: 90vh;
    background-color: #444444;
}

#black-ts, #white-ts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 31.5vw;
    aspect-ratio: 10/1;
    font-family: Verdana, Tahoma, sans-serif;
}

#collection-1, #collection-2 {
  margin-left: 10px;  
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: auto;
  overflow-x: auto;
  scrollbar-width: none;
}

#collection-1 img, #collection-2 img {
  height: 25px;
  width: 25px;
}

 
#board-border {
    width: 31.5vw;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #8B7500;
    border-radius: 5px;
    gap: 4px;
}
.timer {
    display: inline-block;
    background-color: white;
    width: 17%;
    height: 90%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 40px;
    font-size: x-large;
    text-align: center;
}


#chess-board {
    position: relative;
    width: 30vw;
    aspect-ratio: 1/1;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 0;
    /* resize: both;
    overflow: auto; */

    /* min-width: 10vw;
    min-height: 10vw;
    max-width: 40vw;
    max-height: 40vw; */
}

#desc-nav {
    display: flex;
    color: white;
    font-family: Verdana, Tahoma, sans-serif;
    width: 90%;
    height: 10%;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.dn-element {
    display: grid;
    place-items: center;
    width: 23%;
    height: 80%;
    background-color: #444444;
    border-radius: 5px;
    cursor: pointer;
}

#moves {
    background-color: black;
}


.move-list {
    width: 90%;
    height: 50%;
    background-color: #444444;
    border-radius: 10px;
}

#search {
    height: 2em;
    color: white;
    border-color: white;
    background-color: #181818;
    padding: 5px;
}

#search:focus {
    outline: none;
}

#search:placeholder-shown {
    text-align: center;
    caret-color: transparent;
}