#black-ts,
#white-ts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 31.5vw;
  aspect-ratio: 10/1;
  font-family: Verdana, Tahoma, sans-serif;
}

#collection-1,
#collection-2 {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  height: 80%;
  width: auto;
  overflow-x: auto;
  scrollbar-width: none;
}

#collection-1 img,
#collection-2 img {
  display: inline;
  min-height: 25px;
  min-width: 25px;
  max-height: 25px;
  max-height: 25px;
}


#board-border {
  width: 41.5vw;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #8B7500;
  border-radius: 5px;
  gap: 4px;
}


#chess-board {
  position: relative;
  width: 45vw;
  aspect-ratio: 1/1;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 0;
  /* resize: both;
    overflow: auto; */

  /* min-width: 10vw;
    min-height: 10vw;
    max-width: 40vw;
    max-height: 40vw; */
}